{% load shop_tags i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
	<meta http-equiv="description" name="description" 
		content="Demo site for Cartridge - a Django shopping cart application">
	<title>Cartridge Demo</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/shop.css" media="screen" />
	<script type="text/javascript" 
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<script type="text/javascript">
		$(function() {
			$('#messages a').click(function() {
				$(this).parent().hide();
				return false;
			});
		});
	</script>
	{% block extrahead %}{% endblock %}
</head>

<body>

	<h1>Cartridge Demo</h1>
	
	<form id="search-form" method="post" action="{% url shop_search %}">
		<input type="text" name="query" value="{{ request.REQUEST.query }}" />
		<input type="submit" class="button" value="{% trans "Search" %}" />
	</form>
	
	<div id="cart-panel">
		<a href="{% url shop_cart %}">
			{% blocktrans count cart.total_quantity as cart_quantity %}
			Cart contains 1 item:
			{% plural %}
			Cart contains {{ cart_quantity }} items:
			{% endblocktrans %}
			{{ cart.total_price|currency }}
		</a><br />
		<a href="{% url shop_wishlist %}" class="wishlist">
			{% blocktrans count wishlist|length as wishlist_count %}
			Wishlist contains 1 item
			{% plural %}
			Wishlist contains {{ wishlist_count }} items
			{% endblocktrans %}
		</a>
	</div>
	
	<div id="menu"><h3>{% trans "Categories" %}</h3>{% category_menu %}</div>
	
	<div id="main">
		{% if messages %}
		<ul id="messages">
			{% for message in messages %}
			<li>{{ message }}<a href="#">x</a></li>
			{% endfor %}
		</ul>
		{% endif %}
		<h2><a href="{{ request.path }}">{% block title %}{% endblock %}</a></h2>
		{% block main %}{% endblock %}<br clear="both" />
		<div id="footer">Built with <a href="#">Cartridge</a></div>
	</div>
	
</body>

</html>
