{% extends "shop/checkout.html" %}
{% load i18n %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
$(function() {

	var sameShipping = $('#id_0-same_billing_shipping');
	
	// prepopulate shipping fields with billing values if "same as" checkbox 
	// checked by iterating the billing fields, mapping each billing field name  
	// to the shipping field name and setting its value
	$('#checkout_form1').submit(function() {
		if (sameShipping.attr('checked')) {
			$('input[name^=0-billing_]').each(function() {
				$('input[name=' + this.name.replace('0-billing_', 
					'0-shipping_') + ']').attr('value', this.value);
			});
		}
	});

	// show/hide shipping fields on change of "same as" checkbox and call on load
	sameShipping.change(function() {
		//$('#shipping_fields')[sameShipping.attr('checked') ? 'hide' : 'show']();
	}).change(); 

});
</script>
{% endblock %}

{% block fields %}
{% if cart.has_items %}
<fieldset>
	<legend>{% trans "Billing Details" %}</legend>
	<ul>{{ form.billing_detail_fields.as_ul }}</ul>
</fieldset>
<fieldset>
	<legend>{% trans "Delivery Details" %}</legend>
	<ul class="checkbox">{{ form.same_billing_shipping_field.as_ul }}</ul>
	<ul id="shipping_fields">{{ form.shipping_detail_fields.as_ul }}</ul>
	<ul>{{ form.additional_instructions_field.as_ul }}</ul>
</fieldset>
<ul class="checkbox">{{ form.remember_field.as_ul }}</ul>
<ul>{{ form.other_fields.as_ul }}</ul>
{% endif %}
{% endblock %}

