{% extends "shop/base.html" %}
{% load shop_tags %}

{% block title %}{{ category.title }}{% endblock %}

{% block main %}
<div class="category">
<ul>
	{% for category in category.children.active %}
	<li><a href="{{ category.get_absolute_url }}">
		{% if category.image %}
		<img src="{{ MEDIA_URL }}{% thumbnail category.image 120 120  %}" /><br />
		{% endif %}
		{{ category }}
	</a></li>
	{% endfor %}
</ul><br clear="both" />
<ul class="products">
	{% for product in category.products.active %}
	<li><a href="{{ product.get_absolute_url }}">
		{% if product.image %}
		<img src="{{ MEDIA_URL }}{% thumbnail product.image 120 120  %}" /><br />
		{% endif %}
		{{ product }}
	</a></li>
	{% endfor %}
</ul><br clear="both" />
</div>
{% endblock %}

