{% extends "shop/base.html" %}
{% load shop_tags %}

{% block title %}{{ category.title }}{% endblock %}

{% block main %}

{% category_breadcrumbs as breadcrumbs %}
{% for category in breadcrumbs %}
<a href="{{ category.get_absolute_url }}">{{ category }}</a> &gt; 
{% endfor %}
{{ category.title }}

<ul>
	{% for child_cat in category.children.active %}
	<li><a href="{{ child_cat.get_absolute_url }}">Category: {{ child_cat }}</a></li>
	{% endfor %}
</ul>
<ul>
	{% for product in category.products.active %}
	<li><a href="{{ product.get_absolute_url }}">Product: {{ product }}</a></li>
	{% endfor %}
</ul>
{% endblock %}
