{% extends "shop/base.html" %}
{% load shop_tags %}

{% block title %}{{ product.title }}{% endblock %}

{% block main %}

<p>{{ product.description }}</p>

{% with product.images as images %}
{% if images %}
<div>
	{% for image in images %}
	<a href="{{ MEDIA_URL }}{{ image }}"><img 
		src="{{ MEDIA_URL }}{% thumbnail image 0 160  %}" /></a>
	{% endfor %}
</div>
{% endif %}
{% endwith %}

{% if product.has_price %}
	<p>
	{% if product.on_sale %}
		<span style="text-decoration: line-through;">{{ product.unit_price|money }}</span>
		On sale:
	{% endif %}
	{{ product.price|money }}
	</p>
{% endif %}

{% if product.available %}
<form method="post" id="add-cart">
	<ul>
		{{ add_cart_form.as_ul }}
		<li><input type="submit" value="Add to cart" /></li>
	</ul>
</form>
{% else %}
<p>This product is currently unavailable</p>
{% endif %}
{% endblock %}
