{% load shop_tags i18n %}

<table class="idtime">
    <tr>
        <td>{% trans "Order ID:" %} {{ order.id }}</td>
        <td class="right">{{ order.time }}</td>
    </tr>
</table>

<h2>{% trans "Your Details" %}</h2>
<table class="yourdetail">
<tr>
    <th class="left">{% trans "Billing Details" %}</th>
    <th class="left">{% trans "Shipping Details" %}</th>
</tr>
<tr>
    <td class="vtop bordered">
        <table class="noborder">
            {% for field, value in order_billing_detail_fields %}
            <tr><td>{{ field }}:&nbsp;&nbsp;&nbsp;</td><td>{{ value }}</td></tr>
            {% endfor %}
        </table>
    </td>
    <td class="vtop bordered">
        <table class="noborder">
            {% for field, value in order_shipping_detail_fields %}
            <tr><td>{{ field }}:&nbsp;&nbsp;&nbsp;</td><td>{{ value }}</td></tr>
            {% endfor %}
        </table>
    </td>
</tr>
</table>

<h2>{% trans "Items Ordered" %}</h2>
<table class="yourdetail">
    <tr>
                <th class="left">{% trans "Item" %}</th>
                <th class="right">{% trans "Unit Price" %}</th>
                <th class="right">{% trans "Qty" %}</th>
                <th class="right">{% trans "Price" %}</th>
        </tr>
        {% for item in order.items.all %}
        <tr>
        <td class="bordered">{{ item.description }}</td>
        <td class="right vtop bordered">{{ item.unit_price|currency }}</td>
        <td class="right vtop bordered">{{ item.quantity }}</td>
        <td class="right vtop bordered">{{ item.total_price|currency }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="4" class="right bordered">{% order_totals %}</td>
        </tr>
</table>
