
/* main layout */
body {font:1.2em sans-serif; background:#fff; color:#000;}
#menu, #main, #cart-panel {position:absolute; top:120px;}
#menu, #main {float:left; padding:20px; margin:20px;}
#menu {background:#ddd; width:180px; border-radius:10px; font-size:.8em;
    padding-left:5px;}
#main {left:230px; right:0; width:auto; margin-top:5px; padding-top:0;}
#main div {padding:10px 0;}
#cart-panel {right:10px; margin:10px 25px; padding:10px; background:#ddd; 
	border-radius:5px; text-align:center; z-index:2; font-size:90%;}
#cart-panel .wishlist {font-size:70%;}
#product-images-large img, #product-images-thumb img {border:10px solid #ddd;}
#product-images-thumb img {margin-right:15px;}
.old-price {text-decoration: line-through;}
a {color:#000;}
ul {list-style-type:none; padding:0;}
li {display:inline;}
#menu a:visited {color:#666;}
#menu h3 {padding-left:20px;}
#menu ul {list-style-type:disc; padding-left:20px;}
#menu li {display:block; float:none;}
#footer {margin:40px; padding:20px; font-size:.8em; text-align:center; 
    color:#333;}
.category .products li {float:left; margin:10px 20px 10px 0; padding:10px; 
    text-align:center; background:#ddd; width:140px; height:210px;}
.category .products li .img {width:120px; height:120px; margin:auto; 
    padding:0 !important; border:2px solid #333; margin-bottom:5px;}
.img img {margin:0;}
.product-paging {float:left; margin-top:10px; width:100%;}
.product-paging li {padding:0 5px;}
.product-sorting, .product-paging {padding:10px !important; background:#eee; 
    float:left; width:100%; margin-bottom:10px; border-top:1px solid #ddd;}
.product-sorting p, .product-paging p, .product-sorting ul, .product-paging ul {
    float:left; padding:0 5px 0 0px; margin:0; font-size:.8em;}
.category .price {font-size:.8em;}

/* headings */
h1 {margin:20px; padding:20px 100px; line-height:60px; border-radius:10px; 
    height:60px; background:#eee url('../img/cartridge-demo-logo.png') center 
    left no-repeat;}
h1 img {width:70px; height:70px; vertical-align:middle; padding:0 10px;}
h2 {margin-top:20px;}
h3 {margin:0;}

/* messages */
#messages li {background:#333; color:#fff; width:300px; display:block; 
	padding:5px 10px;}
#messages a {float:right; color:#fff; text-decoration:none;}

/* forms */
textarea {display:block;}
input, select {font-size:.8em; margin:0 10px;}
.button {font-size:1.1em; padding:2px 20px; cursor:pointer; margin:0 0 20px 0;}
.errorlist {color:#f00; font-size:.8em; font-weight:bold;}

/* search form */
#search-form {position:absolute; top:55px; right:60px;}
#search-form input {border:1px solid #ccc; margin:0; font-size:120%; 
	border-radius:4px;}
#search-form .button {padding:1px 10px;}
#account {text-align:right; font-size:70%; margin:5px;}

/* add to cart form */
#add-cart {background:#ddd; padding:10px 20px; width:auto; white-space:nowrap;}
#add-cart .button {margin-bottom:0;}
#id_quantity {width:40px;}

/* search */
#search-results li {display:block; padding:10px 0; margin:0; font-size:80%;
	border-bottom:1px solid #ccc; float:left; clear:both; width:100%;}
#search-results .img {width:78px; height:78px; float:left; margin:0 10px 0 0; 
	padding:0; background:#eee;}
#search-results img {margin:7px;}

/* login / signup */
.login-signup {float:left; width:250px; margin-right:10px;}
.login-signup .button {float:right; margin-top:10px;}

/* cart/wishlist items table */
#items {width:100%;}
#items th, #items td {text-align:right; padding:10px; font-size:.8em; 
	white-space:nowrap;}
#items th {background:#ccc; white-space:nowrap;}
.items-item {text-align:left !important; width:100%;}
.items-item form {display:inline;}
.items-item img {width:30px; height:30px; vertical-align:middle; 
    margin-right:5px;}
.row1 {background:#eee;}
.row2 {background:#ddd;}
.buttons {padding:0 !important;}
.buttons input {cursor:pointer; margin:0 10px 0 0;}

/* checkout form */
fieldset {margin-bottom:20px;}
fieldset ul label, fieldset ul input {display:block; float:left; width:200px;}
fieldset ul {padding:0;}
fieldset li {display:block; clear:both; padding:3px;}
.checkbox label, .checkbox input {float:none; width:auto; display:inline;}
#card-fields p {float:left; margin:0;}
#card-fields p label {display:none;}
#card-fields p select {margin:0 0 5px 10px;}
#checkout-form .button {float:right; margin-left:10px;}

/* checkout totals */
.order-totals {text-align:right;}

