
legend {font-weight:bold; padding:15px 10px; font-size:130%;}
.checkbox label {width:90% !important; margin-bottom:10px !important;
    float:left;}
.checkbox input {float:left;}

#account, #cart-panel {margin:20px 0;}
#cart-panel {background:#555; padding:10px; border-radius:3px; text-align:center;}
#cart-panel, #cart-panel a {color:#fff; font-weight:bold; line-height:20px;}
#cart-panel form {text-align:center;}
#cart-panel .button {float:none;}
#product-images-thumb img {margin:10px; margin-left:0;}
#variations {margin-bottom:20px;}

#items {width:100%;}
#items th, #items td {text-align:right; padding:5px; font-size:80%;}
#items th {background:#ccc; white-space:nowrap;}
#items .description {text-align:left !important; width:100%;}
#items .image img {width:30px; height:30px;}
#items .delete {text-align:center;}
#items form {display:inline;}
#items .button {float:none; margin-left:0;}
#items .buttons {text-align:right;}
.quantity input, #id_quantity {width:30px; text-align:center;}
.row1 {background:#eee;}
.row2 {background:#ddd;}
.row1 td, .row2 td {border-right:1px solid #ccc; vertical-align:middle;}
.wishlist td, #items .image, #items .description, #items .delete {border-right:0;}
#items .image, #items .description {vertical-align:top;}

.wishlist .description img {vertical-align:middle !important; margin-right:5px;}
.wishlist .buttons {white-space:nowrap;}
.wishlist .button {padding:5px; margin:0 5px 0 0 !important;}


#checkout #grid-left *, #checkout #grid-right *,
    #checkout #breadcrum-menu {display:none;}
#card-fields p {float:left; margin:0 5px 0 0 !important;}
#card-fields p label {display:none;}

.confirmation {margin:5px 10px;}

.products li {float:left; margin:10px 15px 0 0 !important;
    padding:10px; text-align:center; background:#ddd; width:95px;
    height:210px; list-style-type:none;}
.products li .img {width:90px; height:90px; margin:auto;
    padding:0 !important; border:2px solid #333; margin-bottom:5px;}
.products .old-price {display:block;}
.img img {margin:0;}
.product-paging {float:left; margin-top:10px; width:100%;}
.product-paging li {padding:0 5px;}
.product-sorting, .product-paging {padding:10px !important;
    background:#eee; float:left; width:100%; margin-bottom:10px;
    border-top:1px solid #ddd;}
.product-sorting p, .product-paging p, .product-sorting ul,
    .product-paging ul {float:left; padding:0 5px 0 0; margin:0;
    font-size:.8em;}
.product-sorting ul {padding-top:2px !important;}
.product-sorting li {margin:5px 2px !important; display:inline; font-size:.9em;}
.price {font-size:.8em;}
.old-price {text-decoration: line-through;}

#variations li, #product-images-large li, #product-images-thumb li {
    margin:0; list-style-type:none; display:inline;}

.discount-form ul {text-align:right; background:#eee; width:100%; padding:10px 0;}
.discount-form li {list-style-type:none; display:inline;}
.discount-form .button {float:none; margin:0 10px 0 0; padding:3px 10px;}
.discount-form .errorlist {float:none;}

.login-signup form, #checkout-form, #add-cart {width:100%; padding:10px 0;}
.login-signup form {margin-bottom:20px;}
#add-cart {margin-bottom:20px;}
#checkout-form p {margin:0 10px;}
#checkout li {margin:2px 0; list-style-type:none;}

#messages li {background:#333; color:#fff; padding:5px 10px;
              margin-bottom:10px;}
#messages a {float:right; color:#fff; text-decoration:none;}

#additional_instructions label {width:auto;}

.current-step {font-weight:bold;}
.checkout-totals {margin:0 0 20px 0;}
.checkout-totals .order-totals {text-align:right; width:250px;}
#items .order-totals {float:right;}
.order-totals div {
    white-space:nowrap; padding:3px 0; border-bottom:1px solid #ccc;
}
.order-totals label {margin-right:3px; width:150px; float:left; text-align:left;}

.related h2 {font-weight:normal; float:left;}
.related ul {clear:left;}

.button {padding:10px 20px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.action {margin-right:10px; padding:10px 30px; font-weight:bold;}

#items .action {margin-right:-5px;}
