{% load shop_tags i18n adminmedia %}

<ul>
	{% for category in category_branch %}
	<li id="ordering_{{ category.id }}">
		<div class="{% cycle 'row1' 'row2' %}">
			<a href="#" class="category-toggle" id="category-{{ category.id }}">
				<span class="icon open">+</span>
				<span class="icon close">-</span>
			</a>
			<a href="{% url admin:shop_category_change category.id %}"
				class="changelink">{{ category.title }}</a>
			<span class="ordering">
			    <img src="{% admin_media_prefix %}img/admin/arrow-up.gif" />
			    <img src="{% admin_media_prefix %}img/admin/arrow-down.gif" />
			</span>
			{% if has_add_permission %}
			<a href="{% url admin:shop_category_add %}?parent={{ category.id }}"
				class="addlink" id="addlink-{{ category.id }}">
				{% trans "Add Sub-Category" %}</a>
			{% endif %}
		</div>
		<br clear="all" />
		{% category_menu_admin category %}
	</li>
	{% endfor %}
</ul>

