 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"> 
 
<head> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
	<meta http-equiv="description" name="description" 
		content="Cartridge - A Django shopping cart application focused on simplicity and ease of customisation">
	<title>Cartridge - A Django shopping cart application</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/home.css" /> 
</head> 

<body>
<div id="main">

	<h1><a href="#"><img id="logo" src="{{ MEDIA_URL }}img/cartridge-logo.png"
		alt="Cartridge - A Django shopping cart application" /></a></h1>
		
	<p>Ask any experienced web developer and they'll tell you that no two 
		e-commerce projects are alike - each requires <em>unique customisations
		tailored to the product and business at hand.</em> There are some huge 
		shopping cart applications available that include every feature you'd 
		ever need and while these get you most of the way there - in reality 
		<em>trying to wedge that last bit of customisation into a monolithic 
		design can turn out to be a real project killer.</em></p>
	
	<p>Cartridge is an <em>incredibly light-weight</em> shopping cart framework 
		that brings together the minimum required feature set to get you up and 
		running with a compact and flat structure using nothing but <em>standard 
		Django idioms</em>. With this simplistic approach, adding on your own 
		<em>tailored functionality is a breeze.</em></p>
		
	<h2>Features</h2>
	<ul id="features">
		<li><span>Hierarchical categories</span></li>
		<li><span>Easily configurable product options (colours, sizes, etc.)</span></li>
		<li><span>Hooks for shipping calculations and payment gateway</span></li>
		<li><span>Sale pricing</span></li>
		<li><span>Stock management</span></li>
		<li><span>Product popularity</span></li>
		<li><span>Thumbnail generation</span></li>
		<li><span>Complete unit test coverage</span></li>
		<li><span>Total separation of presentation (no embedded markup)</span></li>
		<li><span>Denormalised data built for accessiblilty and performance</span></li>
	</ul>

	<ul id="links">
		<li><a href="#">Documentation</a></li>
		<li><a href="#">Download</a></li>
		<li><a href="#">Project Page</a></li>
		<li><a href="#">Online Demo</a></li>
	</ul>
	
	<p id="footer">Perfection is achieved, not when there is nothing left to add, 
		but when there is nothing left to remove.</p>

</div><br /><br />
</body>

</html>
