
body, body * {font-size:100%; font-weight:normal; font-style:normal;
	font-family:'Helvetica Neue', Arial, sans-serif; margin:0; padding:0;}
body {background:#666 url('../img/bg.png') repeat-x; text-align:center;}
body, a {color:#fff;}

#logo {margin-right:20px; margin-bottom:10px; border:0;}
#main {width:700px; margin:0 auto;}
p {text-align:left; color:#eee; letter-spacing:0px; line-height:200%;
	margin:30px 0 40px 0;}
em {background:#555; padding:5px; color:#fff;}

h2 {font-size:150%; font-weight:bold; margin:30px auto; padding:10px; 
	width:500px; background:#444 url('../img/features-bg.png') repeat-x;
	border-radius:6px; }
#features {width:430px; margin:30px auto;}
#features li {text-align:left; margin:5px; color:#444;}
#features li span {color:#fff;}

#links {margin:50px 0; list-style-type:none;}
#links li {display:inline; padding:10px 20px; margin:20px 10px; 
	background:#333; border-radius:10px; border-bottom:3px solid #222;}
#links a {text-decoration:none; text-transform:lowercase; font-weight:bold;}

#footer {display:inline; padding:10px 20px; font-style:italic; font-size:90%; 
	background:#777;}

