{% extends "base.html" %}

{% load mezzanine_tags shop_tags i18n %}
{% load_settings CONTENT_MEDIA_URL %}

{% block extra_head %}
<script language="javascript" src="{{ CONTENT_MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
<script type="text/javascript">
	$(function() {
		$('#messages a').click(function() {
			$(this).parent().hide();
			return false;
		});
	});
</script>
<style type="text/css">

    #account, #cart-panel {margin:20px 0;}
    #cart-panel {background:#333; padding:10px;} 
    #cart-panel a {color:#eee; font-weight:bold; line-height:20px;}
    #product-images-thumb img {margin:10px; margin-left:0;}

</style>
{% endblock %}

{% block right_panel %}

<div id="cart-panel">
	<a href="{% url shop_cart %}">
		{% blocktrans count cart.total_quantity as cart_quantity %}
		Cart contains 1 item:
		{% plural %}
		Cart contains {{ cart_quantity }} items:
		{% endblocktrans %}
		{{ cart.total_price|currency }}
	</a><br />
	<a href="{% url shop_wishlist %}" class="wishlist">
		{% blocktrans count wishlist|length as wishlist_count %}
		Wishlist contains 1 item
		{% plural %}
		Wishlist contains {{ wishlist_count }} items
		{% endblocktrans %}
	</a>
</div>

{% if CHECKOUT_ACCOUNT_ENABLED %}
<div id="account">
    {% if request.user.is_authenticated %}
    {% trans "Logged in as: " %}{{ request.user.username }} / 
    <a href="{% url shop_logout %}?next={{ request.path }}"
        >{% trans "Log out" %}</a>
    {% else %}
    <a href="{{ LOGIN_URL }}?next={{ request.path }}"
        >{% trans "Log in or sign up" %}</a>
    {% endif %}
</div>
{% endif %}

{{ block.super }}

{% endblock %}

{% comment %}
{% if messages %}
<ul id="messages">
	{% for message in messages %}
	<li>{{ message }}<a href="#">x</a></li>
	{% endfor %}
</ul>
{% endif %}
{% endcomment %}

