{% extends "shop/base.html" %}
{% load mezzanine_tags shop_tags i18n future %}

{% block meta_title %}{% trans "Order History" %}{% endblock %}
{% block title %}{% trans "Order History" %}{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li>{% trans "Order History" %}</li>
{% endblock %}

{% block main %}

{% if orders %}

<table class="table table-striped order-history">
    <thead>
        <th class="left">ID</th>
        <th class="left">{% trans "Date / time" %}</th>
        <th>{% trans "Qty" %}</th>
        <th>{% trans "Paid" %}</th>
        <th colspan="2" class="left">{% trans "Status" %}</th>
    </thead>
    <tbody>
    {% for order in orders.object_list %}
    <tr>
        <td class="left">{{ order.id }}</td>
        <td class="left">{{ order.time }}</td>
        <td class="right">{{ order.quantity_total }}</td>
        <td class="right">{{ order.total|currency }}</td>
        <td>{{ order.get_status_display }}</td>
        <td class="order-actions">
            <a class="btn btn-sm btn-primary" href="{% url "shop_invoice" order.id %}?format=pdf">{% trans "Download PDF" %}</a>
            <a class="btn btn-sm btn-default" href="{% url "shop_invoice_resend" order.id %}?next={{ request.path }}">{% trans "Re-send order email" %}</a>
            <a class="btn btn-sm btn-default" target="_blank" href="{% url "shop_invoice" order.id %}">{% trans "View invoice" %}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% pagination_for orders %}

{% else %}
<p>{% trans "You have not ordered anything from us yet." %}</p>
{% endif %}

{% endblock %}
